@charset "utf-8";

/********************\
				Contents

1. General
2. Navigation
3. Content
4. Media Queries

\********************/

/**************\
		$General
\**************/

html,
body {
	height: 100%;
}

html {
	font-family: Roboto, Arial, sans-serif;
}

body {
	margin: auto;
	line-height: 1;
	color: #fff;
	font-size: 18px;
	background-color: #e6e6e6;
}

.main {
	min-height: 100%;
	overflow: auto;
}

/*****************\
	$Navigation
\*****************/

.page-header {
	background-color: #263237;
	overflow: auto;
}

.inner-header {
	max-width: 960px;
	margin: 0 auto;
	overflow: auto;
}

.page-logo {
	float: left;
	overflow: hidden;
	font-size: 40px;
	font-size: 4rem;
	line-height: 60px;
	letter-spacing: 0.1rem;
	text-transform: uppercase;
}

.page-logo:hover {
	color: #fff;
}

.menu,
.menu-check {
	display: none;
}

.page-nav {
	float: right;
}

.nav-link-cont {
	float: left;
	list-style: none;
}

.nav-link-cont:last-of-type {
	margin-right: 0;
}

.nav-link {
	display: block;
	padding: 21px;
	font-size: 18px;
	font-weight: 500;
	text-transform: uppercase;
}

.nav-link:hover,
.nav-link:active,
.current-page {
	transition: all .3s ease;
	transition-property: background-color, color;
	background-color: #09f;
}

/****************\
	$Cotent
\****************/

.content-wrap {
	width: 960px;
	margin: 0 auto 72px;
	overflow: auto;
	color: #444;
}

.content {
	width: auto;
	padding: 20px;
	background-color: #fff;
}

.text-block-cont {
	width: 500px;
	margin: 0 auto;
}

.text-block-cont > div,
.text-block-cont > img {
	margin-bottom: 20px;
}

.title {
	font-size: 24px;
}

.text-block {
	margin: 0 auto;
	line-height: 1.625;
}

.code {
	padding: 20px;
	background-color: #263237;
	color: #fff;
}

.code-indent {
	padding-left: 20px;
}

.code-indent-2 {
	padding-left: 40px;
}

.text-block:last-of-type {
	margin-bottom: 0;
}

.bold {
	font-weight: bold;
}

.page-footer {
	margin-top: -45px;
	line-height: 45px;
	box-shadow: 0 -5px #09f;
	font-weight: 500;
	width: auto;
	overflow: auto;
	text-align: center;
	background-color: #263237;
}

/*******************\
		$Media Queries
\*******************/

@media screen and (min-width: 320px) and (max-width: 960px) {
	body {
		min-width: 0px;
	}

	.inner-header {
		width: auto;
	}
	
	.page-logo {
		display: block;
		width: 100%;
		text-align: center;
	}
	
	.page-nav {
		width: 100%;
	}
	
	.nav-link-cont {
		float: left;
		width: 50%;
		margin: 0;
		text-align: center;
	}
	
	.nav-link:hover,
	.nav-link:active,
	.current-page {
		box-shadow: none;
		background-color: #09f;
	}
	
	.content-wrap {
		width: 100%;
	}
	
	.text-block-cont {
		width: 100%;
	}
}

@media screen and (min-width: 580px) and (max-width: 960px) {
	
	.nav-link-cont {
		width: 25%;
	}
}

@media screen and (min-width: 768px) and (max-width: 960px) {
	
	.page-logo {
		margin-left: 20px;
		width: auto;
		float: left;
	}
	
	.page-nav {
		width: auto;
	}
	
	.nav-link-cont {
		float: left;
		list-style: none;
		width: auto;
	}
}

